body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-nav {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
}

#main-nav ul {
  display: flex;
  gap: 2rem;
}

#home {
  background-color: ghostwhite;
}

#home-movies {
  text-align: center;
  display: flex;
}

h1 {
  font-size: 1.5rem;
}

main {
  max-width: 30rem;
  margin: 2rem auto;
}

ul, li {
  list-style: none;
}

footer {
  text-align: center;
}
